# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.swp

# executable
dpsh/dpsh
# testdata
dpsh/out.csv
examples/issue-list.html
.vscode/tasks.json
