body {
	font-size: 10pt;
}

.dp-t {
	width: 100%;
	display: table;
}

.dp-t .dp-h {
	display: table-header-group;
}

.dp-t .dp-b {
	display: table-row-group;
}

.dp-t .dp-r {
	display: table-row;
}

.dp-t .dp-r .dp-c {
	display: table-cell;
}

