body {
	font-size: 10pt;
}

.dp-table {
	width: 100%;
	display: table;
}

.dp-table .dp-header {
	display: table-header-group;
}

.dp-table .dp-body {
	display: table-row-group;
}

.dp-table .dp-row {
	display: table-row;
}

.dp-table .dp-row .dp-cell {
	display: table-cell;
}

